*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    height: 80px;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EEEDE7;
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#logo{
    font-size: 26px;
    font-weight: 500;
}
#nav-img{
    width: 30px;
    height: 30px;
}
#nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 40px;
}
#nav-list li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
#nav-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#banner{
    display: flex;
    padding: 0px 50px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #E8E6DE;
}
#banner-title{
    font-size: 60px;
    color: #503217;
}
#banner-description{
    color: #8F7D6A;
    width: 320px;
}
#banner-btn{
    background-color: #503217;
    color: rgb(246, 227, 227);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 2px 8px;
    border-radius: 4px;
    margin-top: 30px;
}
#banner-img{
    width: 550px;
    height: 600px;
}
#banner-bg{
    position: relative;
    top: -150px;
    left: 20px;
}
#banner-bg-img{
    width: 150px;
    height: 120px;
    /* transform: rotate(15deg); */
}
#category{
    margin-top: -128px;
    background-color: #8F7D6A1A;
}
#category-title{
    display: flex;
    padding-bottom: 20px;
    padding-top: 50px;
    justify-content: center;
}
#Cir-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #E2DFCF;
}
#Cir-parent div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E2DFCF;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #E2DFCF;
}
#category-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#category-list{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}